#outer-box {
    width: 300px;
    height: 200px;
    display: block;
    position:relative;
}

#outer-box img{
    width: 300px;
    height: 200px;
}

#outer-box #inner-box{
    background: darkgrey;
    height: 100%;
    width: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    position: absolute;
    padding: 0;
    -webkit-transition: opacity; .5s; 
    transition: opacity .5s;
}

#outer-box #inner-box p{
    color: #fff;
    line-height: 160px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
#outer-box:hover #inner-box{
    opacity: .9;
}