#rounded {
    border-radius: 20px;
}
#circular {
    border-radius: 50%;
}
#filtered {
    filter: grayscale(100%);
}
.opacity {
    opacity: 0.3;
    filter: alpha(opacity=30);
}
#responsive {
    max-width: 100%;
    height: auto;
}
#centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.container {
    position: relative;
}
#textimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 2em;
}